<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Remera</title>
    <style>
        .action-link {
            margin-right: 10px; /* Ajusta este valor según necesites */
        }
    </style>
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <nav class="nav-wrapper">
        <div class="container">
            <a href="{% url 'home' %}" class="brand-logo">
                <img src="{% static 'img/logo.png' %}" alt="Logo de la tienda">
            </a>
        </div>
    </nav>
    <div class="container">
        <h1>Eliminar Remera</h1>
        <p>¿Estás seguro de que deseas eliminar la remera con ID {{ remera.id }}?</p>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="waves-effect waves-light btn">Eliminar</button>
        </form>
        <a href="{% url 'listar_remeras' %}" class="waves-effect waves-light btn">Volver a la lista de remeras</a>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
    });</script>
</html>